#root {
  color: rgb(20, 12, 12);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.summaryContainer>p {
  color: rgb(12, 7, 7);
  margin-right: 10%;
  text-align: justify;
}

.summaryContainer>h5 {
  text-align: center;
  border: 2px solid green;
  border-radius: 10px;
  height: 30px;
  padding-top: 5px;
  margin-top: 0px;
}

.summaryContainer {
  background-color: rgb(206, 179, 202);
  border-radius: 10px;
} 

